.clients__list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1199px) {
    align-items: center;
  }
}

.clients__item {
  margin-left: auto;
  margin-right: auto;
  color: $icon-color;

  @media screen and (max-width: 479px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 480px) {
    @include fbasis(2, 30px);
  }

  @media screen and (min-width: 768px) {
    @include fbasis(3, 30px);
  }

  @media screen and (min-width: 1200px) {
    @include fbasis(6, 30px);
  }
}

.clients__icon {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 51px;
  border: 1px solid $icon-color;
  border-radius: 4px;
  transition: color 250ms $timing-function, border 250ms $timing-function;

  @media screen and (min-width: 1200px) {
    padding: 15px 31px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.clients__text {
  @extend %visually-hidden;
}
