.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (min-width: 787px) {
    display: flex;
    align-items: center;
  }
}

.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0px;
  line-height: 0;
  background-color: transparent;
  color: inherit;
  transition: color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 787px) {
    display: none;
  }
}

.menu__button--close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__icon {
  fill: currentColor;
  .menu__list--contacts & {
    display: none;
  }
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $white-color;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 250ms $timing-function;
  &.is-open {
    transform: translateX(0);
  }
  @media screen and (min-width: 787px) {
    position: static;
    width: inherit;
    height: inherit;
    padding: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
}

.menu__list {
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.menu__list--navigation {
  font-size: 40px;
  margin-bottom: auto;
}

.menu__list--contacts {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 1.17;
}

.menu__item {
  margin-bottom: 32px;
  .menu__list--contacts &:last-child {
    font-size: 34px;
  }
  .menu__list--contacts &:not(:last-child) {
    margin-bottom: 0px;
  }
}

.menu__link {
  display: block;
  .menu__list--navigation & {
    color: $primary-text-color;
    transition: color 250ms $timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .menu__list--contacts & {
    display: flex;
    align-items: center;
    color: $secondary-text-color;
    transition: color 250ms $timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .menu__list--contacts .menu__item:last-child & {
    color: $hero-btn-accent-color;
  }
  &.menu__link--highlighted {
    color: $accent-color;
  }
}
