.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 530px;
  min-height: 583px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $white-color;
  transition: transform 250ms $timing-function;
  .backdrop.backdrop--hidden & {
    transform: translate(-50%, -50%) scale(0.2);
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  margin: 0px;
  color: inherit;
  background-color: inherit;
  border-color: transparent;
}

.modal__icon {
  display: block;
  border: 1px solid $modal-border-color;
  border-radius: 25px;
  fill: $logo-color;
  transition: fill 250ms $timing-function;
  &:hover,
  &:focus,
  &:active {
    fill: $accent-color;
  }
}

.modal__label {
  @extend %visually-hidden;
}
