.social {
  .header & {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  .footer & {
    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 70px;
    }
  }
}

.social__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: 768px) {
    padding-top: 12px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  .team &,
  .footer & {
    justify-content: center;
  }
}

.social__item {
  color: $accent-color;

  .team &,
  .footer & {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: $icon-color;
  }

  .team &:not(:last-child),
  .footer &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__icon {
  fill: currentColor;

  .header & {
    display: none;
  }
}

.social__link {
  width: 100%;
  height: 100%;

  .team &,
  .footer & {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms $timing-function,
      color 250ms $timing-function;
  }

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
  }

  .footer & {
    background-color: $footer-icon-background;
    color: $white-color;
  }

  .footer &:hover,
  .footer &:focus {
    background-color: $accent-color;
    color: $white-color;
  }
}

.social__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  .social__item:not(:first-child) & {
    padding-left: 10px;
  }

  .social__item:not(:last-child) & {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  .team &,
  .footer & {
    @extend %visually-hidden;
  }
}
