.subscription {
  margin-left: auto;
}

.subscription__title {
  margin-bottom: 20px;
  padding-top: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.subscription__input {
  width: 358px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: $white-color;
  background-color: transparent;
  border: 1px solid $subscription-border-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border 250ms $timing-function;
  &::placeholder {
    color: $footer-contatcs-color;
  }
  &:focus-within {
    border: 1px solid $white-color;
  }
}

.subscription__button {
  @extend %button;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.subscription__icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-left: 10px;
  fill: currentColor;
}
