.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $white-color;
  background-color: $background-color-dark;
}

.footer__contents {
  display: flex;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__address {
  font-style: inherit;
}

.footer__post-address {
  transition: color 250ms $timing-function;
  &:hover {
    color: $accent-color;
  }
}

.footer__item {
  display: block;
}

.footer__post-address,
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: $footer-contatcs-color;
  transition: color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
