.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  box-shadow: none;
  transition: box-shadow 250ms $timing-function;
  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: $white-color;
  background-color: $portfolio-overlay-color;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms $timing-function, opacity 250ms $timing-function;
  .portfolio__item:hover & {
    transform: translateY(0);
    opacity: 1;
  }
}

.portfolio__caption {
  padding: 20px 24px;
  border: 1px solid $grid-border-color;
}

.portfolio__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-text-color;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.87;
  color: $secondary-text-color;
}
