.team {
  background-color: $background-color-light;
}

.team__list {
  display: flex;
}

.team__item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $white-color;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__image {
  border-radius: 0px;
}

.team__caption {
  padding: 30px 32px;
}

.team__name {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}

.team__position {
  margin: 0px 0px 16px 0px;
  font-size: 16px;
  line-height: 1.19;
  color: $secondary-text-color;
}
