%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

%button {
  min-width: 200px;
  padding: 10px 0px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: $white-color;
  background-color: $accent-color;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: $hero-btn-accent-color;
  }
}
