$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$accent-color: #2196f3;
$hero-btn-accent-color: #188ce8;
$background-color-dark: #2f303a;
$background-color-light: #f5f4fa;
$header-color: #ffffff;
$header-border-color: #ececec;
$grid-border-color: #eeeeee;
$logo-color: #000000;
$footer-logo-color: #ffffff;
$footer-contatcs-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
$footer-icon-background: rgba(255, 255, 255, 0.1);
$backdrop-color: rgba(0, 0, 0, 0.2);
$about-caption-color: rgba(47, 48, 58, 0.8);
$portfolio-overlay-color: rgba(33, 150, 243, 0.9);
$modal-placeholder-color: rgba(117, 117, 117, 0.5);
$modal-border-color: rgba(0, 0, 0, 0.1);
$form-border-color: rgba(33, 33, 33, 0.2);
$subscription-border-color: rgba(255, 255, 255, 0.3);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
